.add-certificate-content-table {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
}
.login-content-table {
    width: 90%;
    height: 30px;
    margin: 5px auto;
    border: none;
    border-radius: 10px;
    text-align: center;
}
thead {
    color: #FFFFFF;
    background-color: black;
    font-size: 35px;
    text-align: center;
}
.basket-content-table {
    width: 90%;
    height: 30px;
    margin: 5px auto;
    text-align: center;
}
.size-table-for-certificate {
    width: 300px;
    border: 2px dotted;

}
.basket-content-table {
    width: 90%;
    margin: 5px auto;
    text-align: left;
}