.list-certificates {
    display: flex;
    flex-wrap: wrap;
    color: grey;
}
img {
    width: 90%;
    margin: 5px;
}

div {
    color: black;
    border: 5px dotted grey;
    margin: 10px;
    width: 400px;
}

.form {
     width: 300px;
 }